
<app-nav></app-nav>
<main class="l-main">
    <!--===== HOME =====-->
    <section class="home" id="home">
        <div class="home__container bd-grid">
            <h1 class="home__title"><span>HE</span><br>LLO.</h1>

            <div class="home__scroll">
                <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Scroll down</a>
            </div>
      </div>
    </section>
    <!--===== ABOUT =====-->
    <section class="about section" id="about">
        <h2 class="section-title">Who We Are?</h2>

        <div class="about__container bd-grid">
            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="assets/img/a7.jpeg" class="img-fluid" alt="">
              </div>

            <div>
                <!-- <h2 class="about__subtitle ">Who We Are?</h2> -->
                <ul class="about__text font-italic"><li> AJ Creations is a full-service digital marketing agency specializing in graphic design, web design and development.</li>         
                    <br> <li> From web strategies and user experience, We creates value in everything we do.</li>
                 <br>  <li>We don’t believe in offering an idea without figuring out how to follow it through.</li>
                 <br>   <li>With us, you’ll see consistent growth in site traffic, regular improvement in click-thru-rate, and steady increase in social media activity.</li>
               <br><li>We have one design approach: flexible! With this agility, we can embrace new – and frequently complex – client needs.</li>    
               </ul>  
                <div class="about__social" style="margin-top: 15px;">
                    <a href="#" class="about__social-icon"><i class='bx bxl-linkedin' ></i></a>
                    <a href="#" class="about__social-icon"><i class='bx bxl-github' ></i></a>
                    <a href="#" class="about__social-icon"><i class='bx bxl-dribbble' ></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="skills section" id="skills"> 
        <!-- <h2 class="section-title">Skills</h2> -->

        <div class="skills__container bd-grid">
            <div class="skills__box">
                <h3 class="skills__subtitle">Development</h3>
                <span class="skills__name">Html</span>
                <span class="skills__name">Css</span>
                <span class="skills__name">Javascript</span>
                <span class="skills__name">Angular</span>
                
                <h3 class="skills__subtitle">Design</h3>
                <span class="skills__name">Adobe XD</span>
                <span class="skills__name">Photoshop</span>
                <span class="skills__name">Figma</span>
            </div>

            <div class="skills__img">
                <img src="assets/img/skill.jpg" alt="">
            </div>
        </div>
    </section>

    <!--===== PORTFOLIO =====-->
    <section class="portfolio section" id="portfolio">
        <h2 class="section-title">Services</h2>

        <div class="portfolio__container bd-grid">
            <div class="portfolio__img">
                <img src="assets/img/work1.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name"> LOGO DESIGN</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="assets/img/work2.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">BRANDING</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="assets/img/work3.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">SIGNAGE</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="assets/img/work4.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">BROCHURES</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="assets/img/lapwithcup.jpg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">WEB DESIGN & DEVELOPMENT</a>
                </div>
            </div>
            <div class="portfolio__img">
                <img src="assets/img/pexels-photo-7319125.jpeg" alt="">

                <div class="portfolio__link">
                    <a href="#" class="portfolio__link-name">E-COMMERCE STORE</a>
                </div>
            </div>
        </div>
    </section>

    <!--===== CONTACT =====-->
    <section class="contact section" id="contact">
        <h2 class="section-title">Contact</h2>

        <div class="contact__container bd-grid">
            <div class="contact__info">
                <h3 class="contact__subtitle">EMAIL</h3>
                <span class="contact__text">ajcreations146@gmail.com</span>

                <h3 class="contact__subtitle">PHONE</h3>
                <span class="contact__text">9656708473 |  74774709</span>
            

                <h3 class="contact__subtitle">ADDRESS</h3>
                <span class="contact__text">Kerala,India |  Doha,Qatar</span>
            </div>

            <form action="" class="contact__form">
                <div class="contact__inputs">
                    <input type="text" placeholder="Enter you name" class="contact__input">
                    <input type="mail" placeholder="Enter your email" class="contact__input">
                </div>

                <textarea name="" id="" cols="0" rows="10" placeholder="Connect with Us..." class="contact__input"></textarea>

                <input type="submit" value="Send" class="contact__button">
            </form>
        </div>
    </section>
</main>

<app-footer></app-footer>