
<!--===== FOOTER =====-->
<footer class="footer section">
    <div class="footer__container bd-grid">
        <div class="footer__data">
            <h1 class="footer__title ">AjCreations</h1>
            <p class="footer__text"></p>
        </div>

        <div class="footer__data">
            <h2 class="footer__title">EXPLORE</h2>
            <ul>
                <li><a href="/" class="footer__link">Home</a></li>
                <li><a href="/home#about" class="footer__link">About</a></li>
                <li><a href="/home#portfolio" class="footer__link">Portfolio</a></li>
                <li><a href="/home#contact" class="footer__link">Contact</a></li>
            </ul>
        </div>
        
        <div class="footer__data">
            <h2 class="footer__title">FOLLOW</h2>
            <a href = "mailto: ajcreations146@gmail.com" class="footer__social"><i class="fas fa-envelope"></i></a>
            <a href="#" class="footer__social"><i class='fab fa-facebook' ></i></a>
            <a href="#" class="footer__social"><i class='fab fa-instagram' ></i></a>
           </div>


    </div>
</footer>
    <div class="footer" style="text-align: center;padding: 10px;">
        <div class="copyright text-center "> <hr>
          <strong><span > © Copyright Aj Creations 2020 - All Rights Reserved </span></strong>
        </div>
        <div class="credits">
          </div>
      </div>
   
<a href="#hero" class="back-to-top"><i class="icofont-simple-up"></i></a>
  


